<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommandToExecute" value="..\..\..\testScriptFile\printDate.bat"/>
    <add key="SecondsBetweenExecution" value="60" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4"/>
    <sources>
      <source name="CommandRunnerTraceSource" switchName="CommandSwitch">
        <listeners>
          <clear />
          <add name="traceListener"
              type="Microsoft.VisualBasic.Logging.FileLogTraceListener, 
                      Microsoft.VisualBasic, Version=8.0.0.0, 
                      Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, 
                      processorArchitecture=MSIL"
              customLocation="Logs" baseFileName="Test"
              location="Custom" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!--
      SwitchValue Options:
        Information  = All information messages
        Warning      = Warnings only
        Error        = Error Only
      -->
      <add name="CommandSwitch" value="Information"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>