<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommandToExecute" value="..\..\..\testScriptFile\printDate.bat"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4"/>
    <sources>
      <source name="_" switchName="CommandSwitch">
        <listeners>
          <clear />
          <add name="traceListener"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData= "Test.log" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!--
      SwitchValue Options:
        Information  = All information messages
        Warning      = Warnings only
        Error        = Error Only
      -->
      <add name="CommandSwitch" value="Information"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>